/* NProgress Loading Bar Styles */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #dc2626;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
}

#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #dc2626, 0 0 5px #dc2626;
    opacity: 1;
    transform: rotate(3deg) translate(0px, -4px);
}
